<h1>Apply for Medi-Cal</h1>
<hr>
<form role="form" class="form-horizontal" name="apply" action="applications" method="post">
  <div class="row">
    <div class="form-group col-sm-5">
      <label for="name_first">First name</label>
        <input type="text" name="name_first" id="name_first" placeholder="Juanita" class="form-control" required />
        <span class="help-block">Your legal first name.</span>
    </div>

    <div class="form-group col-sm-2">
      <label for="name_middle_initial">Middle initial</label>
        <input type="text" name="name_middle_initial" id="name_middle_initial" placeholder="Q" class="form-control" />
        <span class="help-block">The initial of your legal middle name, if you have one.</span>
    </div>

    <div class="form-group col-sm-6">
      <label for="name_last">Last name</label>
        <input type="text" name="name_last" id="name_last" placeholder="Smith" class="form-control" required />
        <span class="help-block">Your legal last name.</span>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-9">
      <label for="home_address">Address
        <input type="text" class="form-control col-sm-9" name="home_address" placeholder="1234 Example Street" required />
      </label>
    </div>
    <div class="form-group col-sm-3">
      <label for="home_apt">Apartment number
        <input type="text" class="form-control col-sm-3" name="home_apt" placeholder="Apt. 3" /><!-- @todo: Determine whether this needs to be in a separate field on the PDF for it to be usable. -->
      </label>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-9">
      <label for="home_city">City <!-- @todo: Reconcile with home_city_state -->
        <input type="text" class="form-control col-sm-9" name="home_city" placeholder="San Francisco" required>
      </label>
      <span class="help-block">You have to live in California to be eligible for Medi-Cal. If you don't live in California, apply for Medicaid.</span>
    </div>
    <div class="form_group col-sm-3">
      <label for="zip">ZIP code
        <input type="text" class="form-control col-sm-3" name="home_zip_code" placeholder="941..." required>
      </label>
    </div>
  </div>

  <!-- State: CA -->
  <input type="hidden" class="form-control" name="home_state" value="CA">

  <!-- Phone numbers -->
  <!-- "Message number" instead of home/work number -->
  <div class="row">
    <div class="form-group col-sm-3">
      <label for="message_phone_number_area_code">Area code
        <input type="text" class="form-control" name="message_phone_number_area_code" placeholder="415">
      </label>
      <span class="help-block">A phone number where it's okay to leave a message.</span>
    </div>
    <div class="form-group col-sm-17">
      <label for="message_phone_number">Phone number
        <input type="text" class="form-control" name="message_phone_number" placeholder="555-5555">
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
      <input type="text" class="form-control" name="email" placeholder="juanita.smith@example.com">
      <span class="help-block">You don't have to include your phone number or email address, but it will help us get in touch with you.</span>
  </div>

  <div class="form-group">
    <fieldset id="gender-field">
      <legend id="gender-label">Gender</legend>
      <label for="gender_male" required>
       <input type="radio" name="gender" id="gender_male" value="Male" required />
        Male
      </label>
      <label for="gender_female">
        <input type="radio" name="gender" id="gender_female" value="Female" required />
        Female
      </label>
      <span class="help-block">Your gender as recorded on your Social Security card.</span>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset id="dob">
      <legend id="dob-label">Date of birth</legend>
      <label for="dob_month">Month
        <input id="dob_month" name="dob_month" type="month" required />
      </label>
      <label for="dob_day">Day
        <input id="dob_day" name="dob_day" type="day" required />
      </label>
      <label for="dob_year">Year
        <input id="dob_year" name="dob_year" type="year" required />
      </label>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset id="marital-status-field">
      <legend id="marital-status-label">Marital status</legend>
      <div class="field field-radio-input">
        <label for="marital_status_single">
          <input type="radio" name="marital_status" id="marital_status_single" value="Single" required />
          Single
        </label>
      </div>
      <div class="field field-radio-input">
        <label for="marital_status_married">
         <input type="radio" name="marital_status" id="marital_status_married" value="Married" required />
          Married
        </label>
      </div>
      <div class="field field-radio-input">
        <label for="marital_status_divorced">
         <input type="radio" name="marital_status" id="marital_status_divorced" value="Divorced" required />
          Divorced
        </label>
      </div>
      <div class="field field-radio-input">
        <label for="marital_status_separated">
         <input type="radio" name="marital_status" id="marital_status_separated" value="Separated" required />
          Separated
        </label>
      </div>
      <div class="field field-radio-input">
        <label for="marital_status_widowed" required>
         <input type="radio" name="marital_status" id="marital_status_widowed" value="Widowed" required />
          Widowed
        </label>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
      <label for="ssn">Social Security Number</label>
      <input for="ssn" name="ssn" type="text" placeholder="000-33-0000" />
      <span class="help-block">You may be able to receive Medi-Cal even if you do not have a Social Security Number.</span>
  </div>

  <div class="form-group">
    <fieldset id="citizen-field">
      <legend id="citizen-label">Are you a U.S. citizen or national?</legend>
      <label for="citizen_yes" class="radio-inline">
       <input type="radio" name="citizen" id="citizen_yes" value="Yes" required />
       Yes
      </label>
      <label for="citizen_no" class="radio-inline">
        <input type="radio" name="citizen" id="citizen_no" value="No" required />
        No
      </label>
    </fieldset>
    <fieldset id="us-entry-dates">
      <legend id="us-entry-dates-label">If "No," on what date did you enter the U.S.?</legend>
      <label for="us_entry_month">
        Month
        <input id="us_entry_month" name="us_entry_month" type="month" required />
      </label>
      <label for="us_entry_day">
        Day
        <input id="us_entry_day" name="us_entry_day" type="day" required />
      </label>
      <label for="us_entry_year">
        Year
        <input id="us_entry_year" name="us_entry_year" type="year" required />
      </label>
    </fieldset>
  </div>

  <div class="form-group">
    <label for="signature">Signature</label>
      <div id="signature_area" class="panel"></div>
      <div id="signature_value_hidden"></div>
      <span class="help-block">Sign on the line. You can sign with your mouse or your finger if you're using a touch screen.</span>
  </div>

    <div class="form-group">
        <button type="submit" id="submit_button" class="btn btn-default">Submit your Medi-Cal application!</button>
    </div>
</form>
