<h1>Change Your Record</h1>
<hr>
<form role="form" class="form-horizontal" name="apply" action="applications" method="post">
  <div class="row steps-to-enroll" style="margin-top: 0; padding-top: 0;">
    <div class="col-lg-9">
      <div class="step-to-enroll">
        <p class="step-explanation">With the passage of Proposition 47, certain low-level, nonviolent felonies can now be changed to misdemeanors on old criminal records in California. If you or someone you know has a prior criminal record with a felony record for any of the following crimes, you may qualify to remove the felony from your record and change it to a misdemeanor:
        </p>

        <ul>
          <li>Simple drug possession </li>
          <li>Petty theft under 950 dollars</li>
          <li>Shoplifting under 950 dollars</li>
          <li>Forging or writing a bad check under 950 dollars</li>
          <li>Receipt of stolen property under 950 dollars</li>
        </ul>

        <p>If you have a previous conviction for crimes such as rape, murder or child molestation or are in the sex offender registry, you will not be eligible to get these felonies reclassified. <a href="http://www.sandiegocounty.gov/content/sdc/public_defender/Prop47Excludable.html">These crimes will prevent you</a> from getting your record reclassified. Here&rsquo;s <a href="http://www.cdcr.ca.gov/news/Proposition_47.html">more information</a> from the California Department of Rehabilitation and Corrections.</p>
      </div>
    </div>
  </div>
  <!-- Insert county selection here and move the rest to the next step. The following fields are for Alameda County. -->
  <div class="row">
    <div class="form-group col-sm-9">
      <label for="case_number">Case number</label>
        <input type="text" name="case_number" id="case_number" placeholder="155" class="form-control" />
      <span class="help-block">Your original case number.</span>
    </div>

    <div class="form-group col-sm-9">
      <label for="felony_counts">Felony counts</label>
        <input type="text" name="felony_counts" id="felony_counts" placeholder="2" class="form-control" />
      <span class="help-block">The number of felonies you want to have reduced to misdemeanors. <em>(Insert legal disclaimer.)</em></span>
    </div>

    <div class="form-group col-sm-9">
      <label for="code_sections">Code sections</label>
        <input type="text" name="code_sections" id="code_sections" placeholder="484, 488" class="form-control" required />
      <span class="help-block">The code sections that those felonies violated.</span>
    </div>
  </div>

  <!-- @todo: Add whether the sentence is in progress or complete. -->

  <div class="row">
    <div class="form-group col-sm-9">
      <!-- @todo: Maybe provide more help here? -->
      <label for="mailing_address">Current mailing address</label>
        <input type="text" class="form-control col-sm-9" name="mailing_address" id="mailing_address" placeholder="1234 Example Street, Oakland, CA 94607" required />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-9">
      <label for="name_of_defendant">Defendant&rsquo;s name</label>
        <input type="text" name="name_of_defendant" id="name_of_defendant" placeholder="J.K. Smith" class="form-control" required />
      <span class="help-block">Your full legal name.</span>
    </div>
  <div class="row">
    <div class="form-group col-sm-9">
      <label for="name_of_counsel">Counsel&rsquo;s name</label>
        <input type="text" name="name_of_counsel" id="name_of_counsel" placeholder="Monica Q. Lawyer" class="form-control" required />
      <span class="help-block">Your counsel&rsquo;s full legal name, if you have legal representation.</span>
    </div>
  </div>

  <!-- Phone numbers -->
  <div class="row">
    <div class="form-group col-sm-3">
      <label for="phone_number_area_code">Area code</label>
        <input type="text" class="form-control" name="phone_number_area_code" placeholder="510">
    </div>
    <div class="form-group col-sm-9">
      <label for="phone_number">Phone number</label>
        <input type="text" class="form-control" name="phone_number" placeholder="555-5555">
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" placeholder="jk.smith@example.com">
    <span class="help-block">You don&rsquo;t have to include your phone number or email address, but it will help us get in touch with you.</span>
  </div>

  <div class="row legalese" style="margin: 32px 0 32px 0">
    <!-- How much room is there to make this friendlier? -->
    <p class="firearms">By signing below, you acknowledge that <strong>you may not use, own or possess firearms</strong>, even if this Petition is granted.
    </p>

    <p>&ldquo;I declare under penalty of perjury under the laws of the State of California that the foregoing is true and correct and that the below is the true and correct signature of the defendant in this matter.&rdquo;
    </p>
  </div>

  <div class="form-group">
    <label for="signature">Signature</label>
      <div id="signature_area" class="panel"></div>
      <div id="signature_value_hidden"></div>
      <span class="help-block">Sign on the line. You can sign with your mouse or your finger if you're using a touch screen.</span>
  </div>

    <div class="form-group">
        <button type="submit" id="submit_button" class="btn btn-default" disabled="disabled">Submit your petition!</button>
    </div>
</form>
<footer>
  <p>Thanks to <a href="http://www.safeandjust.org/recordchange">Californians for Safety and Justice</a> for the text above.
</footer>
